# IDE-specific folders and files
.vscode/
.idea/
*.suo
*.user
*.userprefs
*.csproj
*.sln
*.sln.*
*.pidb
*.booproj

# Unity-generated folders/files (not needed in package)
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Ll]ogs/

# OS-specific files
.DS_Store
Thumbs.db

# Rider
*.DotSettings
